@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 10px 40px;
}

img{
    max-width: 100%;
    border-radius: 15px;
}
code{
    padding: 0;
}
.codehidden{
    color: gray;
}